@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" );
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Sansita+Swashed:wght@500&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}
h1{
  color: white;
  background: transparent;
  text-shadow: 1 2px 2px black;
}

div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
input{
  width: 100%;
  padding:  10px 20px;
  border: none;
  outline: none;
  margin: 20px 0;
  text-align: center;
  background: cornsilk;
  border-radius: 5px;
}
button{
  line-height: 20px;
  padding: 18px 20px;
  background: cornflowerblue;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  outline: none;
  border: 3px solid white;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;

}